.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Photo/homeBanner.png);
    height: auto;
    margin: 0px;
    padding: 100px 100px
}
.banner-text{
    color: white;
    text-align: center;
}