.team-logo img{
    height: 100px;
    width: 100px;
}
.team-container{
    background-color: #214252;
    color: white;
}
.explore-btn{
    background-color: #f8bd7f;
    padding: 5px;
    border-radius: 5px;
}